page-cat-display {
    .card-title2 {
        position: absolute;
        top: 25%;
        font-size: 3em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-shadow: 2px 2px 20px black;
        padding-left: 0px;
        text-align: center;
      }
      .image2{
        height: 200px;
      }
}
